* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Sora, sans-serif;
}

/* ====================== COMMON  ======================= */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background-color: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.h2-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.h3-title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1;
}

.p-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 8px;
}

.learn-more {
  color: #2e80ce;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.75;
}

/* ====================== HEADER  ======================= */
.header {
  min-height: 110vh;
  background-color: #10375c;
}

/* ----------- header top -------------- */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 76px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__logo--img {
  width: 40px;
  height: 40px;
}

.header__title {
  text-align: right;
}

.header__title span:first-child {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8;
}

.header__title span:last-child {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 0.8;
}
/* header nar */
.header__nav {
  display: flex;
  align-items: center;
}

.header__item {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
}
.header__item:hover,
.header__item--active {
  position: relative;
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.header__item--active::before {
  position: absolute;
  top: 20px;
  left: 8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}

/* button */
.header__btn--signup {
  display: inline-block;
  min-width: 140px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
}

.header__btn--lognin {
  background-color: transparent;
  display: inline-block;
  min-width: 104px;
}

/* ====================== HERO  ======================= */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__title {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1.4px;
}

.hero__desc {
  padding: 22px 0 38px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.7;
}

.hero__action--phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  padding-left: 38px;
}

.hero__media {
  flex: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/* ====================== SERVICE  ======================= */
.service {
  padding: 170px 0;
}

.service__header {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 70px;
}

.service__content {
  display: flex;
  justify-content: space-between;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  object-position: 0 -25px;
  border-radius: 12px;
}

.service__list {
  width: 470px;
  margin-top: 40px;
}

.service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff6fd;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  flex-shrink: 0;
  transition: 0.25s;
}

.service__item {
  display: flex;
  gap: 19px;
  padding: 21px;
  transition: 0.25s;
}

.service__item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item:hover .service__icon {
  color: #fff;
  background-color: #2e80ce;
}

.service__action--btn {
  margin-top: 70px;
}

/* ====================== WORKS  ======================= */
.works {
  background-color: #f6fbff;
  padding: 100px 0;
}

.work__heading--desc {
  width: 468px;
  margin-bottom: 86px;
}

.work__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work__item {
  width: 338px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
}

.work__item--active,
.work__item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work__item--content {
  padding: 42px;
}

.work__item--title {
  padding: 18px 0 28px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.4;
}

.work__item--desc {
  padding-bottom: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work__item--img {
  width: 60px;
  height: 60px;
}

.work__item--learn-more {
  position: relative;
}

.work__item--learn-more:hover::after {
  content: ">";
  position: absolute;
  right: -15px;
  top: -3px;
}
